{% extends 'core/base.html' %}

{% block header %}
<nav class="navbar navbar-light bg-light border-bottom border-3">
    <div class="container d-flex justify-content-between">
        <div class="nav-item d-flex">
            <a class="navbar-brand" href="{% url 'problems:list' %}">DJ-OJ</a>
            <a class="nav-link text-secondary" href="{% url 'problems:list' %}">
                문제 목록
            </a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{request.user}}님
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'users:change_profile' %}">프로필 변경</a></li>
                <li><a class="dropdown-item" href="{% url 'users:change_password' %}">비밀번호 변경</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'users:logout' %}">로그아웃</a></li>
            </ul>
        </div>
        {% else %}
        <div class="nav-item d-flex">
            <a class="nav-link" href="{% url 'users:login' %}">로그인</a>
            <a class="nav-link" href="{% url 'users:signup' %}">회원가입</a>
        </div>
        {% endif %}

    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block wrapped_content %}
        {% endblock %}
    </div>
{% endblock %}