{% extends 'core/base_fullscreen.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/dark_scrollbar.css' %}?v={{version}}">
<style>
    .CodeMirror {
        height: 100% !important;
    }
</style>
{% endblock %}

{% block media %}
<!-- for codemirror -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/base16-dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.js"></script>
<script src="https://codemirror.net/5/mode/python/python.js"></script>
<script src="https://codemirror.net/5/mode/sql/sql.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'submissions/editor.js' %}?v={{version}}"></script>

<!-- for result render -->
<script src="{% static 'submissions/refresh_status.js' %}?v={{version}}"></script>

<!-- for datatable -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

{% endblock %}

{% block header %}
<div class="bg-dark py-1 px-5 d-flex align-items-center justify-content-between">
    {% include 'core/navigation_header.html' %}

    <div class="d-flex">
        {% if can_react_submission %}
        <div class="mx-2">
            <button class="dj-like-btn d-none"
                    type="button"
                    value="{{like_users_count}}"
                    {% if is_liked_submission %}liked{% endif %}
                    data-like-url="{% url 'submissions_api:like' submission.uuid %}"
                    data-unlike-url="{% url 'submissions_api:unlike' submission.uuid %}"
            >
            </button>
        </div>
        {% endif %}
        {% if can_change_submission %}
        <div class="form-check form-switch mx-2">
            <input
                class="form-check-input"
                type="checkbox"
                {% if submission.is_public %}checked{% endif %}
                style="cursor: pointer;"
                role="requestAPI"
                data-url="{% url 'submissions_api:detail' submission.uuid %}"
                data-method="patch"
                data-get-data="(e) => {return {is_public: e.checked}}"
            >
            <label class="form-check-label text-light" >공개</label>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block content %}
<div class="flex-fill d-flex bg-secondary">
    {% include 'submissions/detail/result.html' %}
    {% include 'submissions/create/editor.html' %}
</div>
{% endblock %}

{% block footer %}
{% include 'submissions/detail/footer.html' %}
{% endblock %}